* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
  }

body {
    font-family: Source Sans Pro;
    text-justify: auto;
    flex-flow: row;
}

.bottom-border {
    border-bottom: 4px solid yellow;
    border-width: 100%;
    color: yellow;
}

.navs {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    text-decoration: none;
    margin: 10px;
    overflow: hidden;
    letter-spacing: 1;
    justify-content: space-between;
    vertical-align: middle;
}

.bold-navs {
    color: white;
    font-family: Oswald;
}

.lower-case-navs {
    color: white;
}

.motto {
    text-align: center;
    padding: 1%;
    margin: 0 auto;
    font-style: italic;
    font-family: merriwether;
}

.yellow-underline {
    border-bottom: 2px solid yellow;
}

.dim-text {
    color: grey;
}

.site-name {
    color: yellow;
    display: inline;
    text-align: left;
    margin-left: 75px;
    font-family: 'Merriweather', serif;
}

.bold-navs {
    text-emphasis: emphasis;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: yellow;
}

a:active {
    text-decoration: none;
}

.image-row {
    background-image: url("images/coworking.jpg");
    background-color: #cccccc;
    height: 430px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 25%;
    height: 200px;
    display: block;
    float: right;
    background-color: rgba(255,255,255,.8);
    text-align: inherit;
    padding: 20px;
    margin: 20px;
}

.button-city {
    display: inline-flex;
    width: 100%;
    height: 250px;
    padding: 2% 4%;
    overflow: hidden;
    border-radius: 3px;
}

.yellow-button {
   background-color: yellow;
   width: 350px;
   height: 50px;
   text-align: center;
   text-emphasis: emphasis;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: Oswald;
}

.right-border {
    border-right: 1px solid grey;
}

.grey-button {
    background-color: lightgray;
    width: 350px;
    height: 50px;
    text-align: center;
    text-emphasis: emphasis;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Oswald;
}

div.footer {
    color: white;
    height: 10px;
    width: 100%;
    background-color: black;
    padding: 5%;
}

.black {
    background-color: black;
}

.grey {
    background-color: lightgray;
}

white {
    background-color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 100%;
}

.col {
    width: 8.3333%;
}
  
.col-2 {
    width: calc(2 * 8.3333%);
}
  
.col-3 {
    width: calc(3 * 8.3333%);
}
  
.col-4 {
    width: calc(4 * 8.3333%);
}

.dev-design-body {
    background-color: #cccccc;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 1500px;
}

.boxes {
    height: 500px;
    width: 25%;
    padding: 5%;
    border-left: 5px solid white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 250px;
    border: 10px solid white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}